*{
    background-color: beige;
}
header>h1{
    background-color:plum;
    text-align: center;
    color: rgb(132, 0, 255);
}
nav > ul,li,a{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}
section h2{
    font-size: 25px;
    color:red;
}
section p{
    font-style: italic;
    color: blueviolet;
    font-size: 20px;
}
#content>h3{
    color:firebrick;
    font-size: 25px;
}
#content p{
    color:deeppink
}
#content>ul{
    color:indigo;
}
footer>p{
    background-color: rgb(234, 120, 234);
    text-align: center;
    font-size: 25px;
}