#border p{
    border:2px solid peru;
    color:blue;
    background-color: chartreuse;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#border>h1{
    text-align: center;
    border:2px solid darkmagenta;
    color:blue;
    background-color:aqua;
    font-weight: 600;
    border-radius: 10px;
    font-size: 30px;
}
#border{
    background-color:blueviolet;
    height:100px;
    width:100%;
    border-radius: 10px;
    margin-top:30px;
}
#border1 p{
    border:4px dotted red;
    color:darkblue;
    background-color:bisque;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#border1>h1{
    text-align: center;
    border:3px dotted darkmagenta;
    color:brown;
    background-color:plum;
    font-weight: 600;
    border-radius: 10px;
    font-size: 30px;
}
#border1{
    background-color:cornflowerblue;
    height:100px;
    width:100%;
    border-radius: 10px;
    margin-top:40px;
}
#border2 p{
    border:4px dashed red;
    color:aliceblue;
    background-color:coral;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#border2>h1{
    text-align: center;
    border:4px dashed darkorchid;
    color:white;
    background-color:darksalmon;
    font-weight: 600;
    border-radius: 10px;
    font-size: 30px;
}
#border2{
    background-color:rgb(244, 78, 244);
    height:100px;
    width:100%;
    border-radius: 10px;
    margin-top:50px;
}
#border3 p{
    border:2px double indigo;
    color:crimson;
    background-color: paleturquoise;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}
#border3>h1{
    text-align: center;
    border:2px double dodgerblue;
    color:blueviolet;
    background-color:aqua;
    font-weight: 600;
    border-radius: 10px;
    font-size: 30px;
}
#border3{
    background-color:blueviolet;
    height:100px;
    width:100%;
    border-radius: 10px;
    margin-top:50px;
}
/* #img1{
    height: 225px;
    width:100%;
    background-image: url('https://i.pinimg.com/originals/cf/9f/67/cf9f670f8a9cf03027e56f929fae7327.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
#img2{
    height: 225px;
    width:100%;
    background-image: url('https://images8.alphacoders.com/134/thumb-1920-1341323.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin-left: 53px;
}
#img3{
    height: 225px;
    width:100%;
    background-image: url('https://i.pinimg.com/736x/9a/14/b8/9a14b8b2c9494052fab98e31e76bb929.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: -20px;
 }
 #img4{
    height: 225px;
    width:100%;
    background-image: url('https://www.itl.cat/pngfile/big/14-146811_4k-ultra-hd-nature-high-resolution-wallpapers-grand.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
    margin-top: -430px;
    margin-left: -53px;
}
#bg-img{
    height: 180px;
    width:180px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4rNQlJRHCpxRfoLFAd7IGBGcX3aQF447BbQ&usqp=CAU');
    background-repeat: no-repeat;
    border-radius: 80%;
    background-size: contain;
    margin-top: -210px;
    margin-left: 580px;
} */

