/* img{
    filter:grayscale(200%);
}
img:hover{
    filter: none;
} */

img{
    width:300px;
    aspect-ratio: 3/5;
}
@counter-style customSymbols{
    system:cyclic;
    symbols:"😲","🤗","🤩","🤑","😂";
    suffix:" ";
}
ul{
    list-style:none;
}
ul li:nth-child(1):before{
    content:"😲";
}
ul li:nth-child(2):before{
    content:"🤗";
}
ul li:nth-child(3):before{
    content:"🤩";
}
ul li:nth-child(4):before{
    content:"😂";
}
ul li:nth-child(5):before{
    content:"🤑";
}
