/* h1{
    color:red;
}
h1:hover{
    color:skyblue;
}
span:hover{
    color:pink;
}
a:hover{
    color:green;
}
button{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 5px;
    border:2px solid aqua;
}
#b1:hover{
    /* background-color: blueviolet;
    opacity:1; */
    display: none;
} */
#b2:hover{
    /* background-color: blueviolet;
    opacity:1; */
    visibility:hidden;
}
#b3:hover{
    /* background-color: blueviolet;
    opacity:1; */
    opacity:0;
}
p{
    display:none;
    /* visibility:hidden; */
}
div:hover p{
    display:block;
    /* visibility: visible; */
}
/* ul li:first-child:hover{
    color:red;
} */
/* ul li:last-child{
    color:rebeccapurple;
}
ul li:nth-child(2){
    color:blue
} */
/* ul li:nth-child(odd){
    color:green
} */

p::before{
    content:'hi'
}
