/* *{
    margin:0;
    padding: 0;
} */

@keyframes colorChange{

    /* from{
        color:blueviolet
    }
    to{
        color:red;
    } */
    0%{
        transform:scale(1);
    }
    /* 10%{
        color:green;
    }
    20%{
        color:yellow;
    }
    30%{
        color:pink
    }
    40%{
        color:aqua;
    }
    50%{
        color:blueviolet
    }
    60%{
        color:brown;
    }
    70%{
        color: chartreuse;
    }
    80%{
        color:crimson;
    }
    90%{
        color:darkmagenta
    } */
    100%{
        transform: scale(3,3);
    }
}
.container{
    background-color: bisque;
    height: 100px;
    width:200px;
    border: 2px solid black;
    transition: width 5s ease,transform 3s ease;
    display: grid;
    place-items: center;
    animation: colorChange;
    animation-duration: 10s;
    animation-delay: 2s;
    font-size: 1.5rem;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation:test 3s ease-in infinite
}
/* .container:hover{
    transform:scale(0px,30px);
    margin:50px;
    width:400px;

} */
